.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #eee;
	box-shadow: 2px 0 5px #000;
	z-index: 1;
}

.navigation {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
