.wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 7rem;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: 14px;
	color: #64748b;
}
