.row {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.container {
	margin-bottom: 1rem;
}

.submitButtonContainer {
	display: flex;
	justify-content: space-between;
}

.submitButton {
	margin: 0 auto;
	padding: 0.5rem 15rem;
}
