@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* ######## Colors ######## */
	color: #213547;
	background-color: #ffffff;
	--bg-page-primary: rgb(238, 240, 248);

	/* ######## Values ######## */
	--sidebar-width: 365px;
	--sidebar-width-sm: 300px;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: inherit;
}

body {
	width: 100%;
	min-width: 900px;
	min-height: 100vh;
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
}

.MuiButton-root {
	font-size: 1rem;
	font-weight: 700;
	text-transform: capitalize;
}

/* ############# DEFAULT TYPOGRAPHY (based on MUI) ############# */
h1 {
	font-weight: 300;
	font-size: 6rem;
	line-height: 1.167;
	letter-spacing: -0.01562em;
}

h2 {
	font-weight: 300;
	font-size: 3.75rem;
	line-height: 1.2;
	letter-spacing: -0.00833em;
}

h3 {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.167;
	letter-spacing: 0em;
}

h4 {
	font-weight: 400;
	font-size: 2.125rem;
	line-height: 1.235;
	letter-spacing: 0.00735em;
}

h5 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.334;
	letter-spacing: 0em;
}

h6 {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.6;
	letter-spacing: 0.0075em;
}

caption {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}

label {
	font-weight: 400;
	font-size: 0.875rem; /* 14px */
	line-height: 1.66;
	letter-spacing: 0.03333em;
}
