.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-inline: 2rem;
	background-color: var(--bg-page-primary);
}

.contentContainer {
	flex: 1;
	display: flex;
	gap: 1.5rem;
}

.mainContentContainer {
	flex: 1;
}
