.container {
	height: 98% !important;
	position: relative;
}

.documentsModalContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: max(70%, 1200px);
	max-height: 90%;
	overflow: auto;
	background-color: var(--mui-palette-background-paper);
	border: 2px solid #000;
	box-shadow: 0 0 10px #000;
	padding: 4px;
}

.documentModalTitleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.documentsModalTitle {
	font-weight: 500;
	padding: 12px;
}

.tableExportButton {
	/* TODO: handle values */
	z-index: 10;
	inset-inline-end: 0;
}
